<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cloud_Computing_Double_Auction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Cloud_Computing_Double_Auction.Properties.Settings>
            <setting name="NumUsers" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumProviders" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserQuantities" serializeAs="String">
                <value>13 9 8 11 14 14 6 9</value>
            </setting>
            <setting name="UserPrices" serializeAs="String">
                <value>50 46 43 40 37 36 29 14</value>
            </setting>
            <setting name="ProviderQuantites" serializeAs="String">
                <value>12 11 6 11 12 7 13 9</value>
            </setting>
            <setting name="ProviderPrices" serializeAs="String">
                <value>10 23 26 26 33 35 46 50</value>
            </setting>
            <setting name="ManualUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualProvider" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinUserQuantity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxUserQuantity" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MinUserPrice" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxUserPrice" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MinProvQuantity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxProvQuantity" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MinProvPrice" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxProvPrice" serializeAs="String">
                <value>50</value>
            </setting>
        </Cloud_Computing_Double_Auction.Properties.Settings>
    </userSettings>
</configuration>
