<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cloud_Computing_Double_Auction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Cloud_Computing_Double_Auction.Properties.Settings>
            <setting name="NumUsers" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NumProviders" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UserQuantities" serializeAs="String">
                <value>8 2 3 1 8 7 5</value>
            </setting>
            <setting name="UserPrices" serializeAs="String">
                <value>47 45 35 34 33 22 12</value>
            </setting>
            <setting name="ProviderQuantites" serializeAs="String">
                <value>5 5 1 2 4 8 3</value>
            </setting>
            <setting name="ProviderPrices" serializeAs="String">
                <value>15 17 20 22 25 30 49</value>
            </setting>
            <setting name="ManualUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualProvider" serializeAs="String">
                <value>False</value>
            </setting>
        </Cloud_Computing_Double_Auction.Properties.Settings>
    </userSettings>
</configuration>
